.profile {
  background-color: rgb(214, 214, 224);
  width: 400px;
  height: 100%;
  margin: 30px 100px;
  border: solid 2px rgb(214, 214, 224);
}

.description {
  display: block;
  background-color: white;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 360px;
  border-radius: 2% 2% 0 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.avatar {
  display: inline-block;
  margin-left: 50px;
  margin-top: 10px;
  width: 200px;
  height: 200px;
}

.name {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 2.17;
}

.tag,
.location {
  color: grey;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.17;
}

.stats {
  background-color: rgb(236, 229, 229);
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  border-top: solid 2px rgb(158, 154, 154);
  border-radius: 0 0 2% 2%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.label,
.quantity {
  display: block;
  width: 98px;
  text-align: center;
  margin-top: 10px;
  color: grey;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}

.quantity {
  color: black;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
}
